<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h1>{{user.userName}}'s profile</h1>
        </div>
        <div *ngIf="editForm.dirty" class="col-md-8">
            <div class="alert alert-info">
                <strong>Information: </strong>Your have made changes. Any unsave changes will be lost!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{user?.photoUrl}}" alt="{{user?.knowAs}}">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{user?.city}} {{user?.country}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{user?.age}}</p>
                    </div>
                    <div>
                        <strong>Active:</strong>
                        <p>{{user?.lastActive}}</p>
                    </div>
                    <div>
                        <strong>Member since:</strong>
                        <p>{{user?.created}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="About {{user?.userName}}">
                        <h4>Loking For</h4>
                        <form #editForm="ngForm" (submit)="updateUser()" id="editForm">
                            <textarea class="form-control" name="loking" [(ngModel)]="user.lookingFor" rows="6">
                                
                            </textarea>

                            <h4>Location Detail:</h4>
                            <div class="form-inline">
                                <label for="city">City</label>
                                <input class="form-control" type="text" name="city" [(ngModel)]="user.city">
                                <label for="country">Country</label>
                                <input class="form-control" type="text" name="country" [(ngModel)]="user.country">
                            </div>
                        </form>
                    </tab>
                    <tab heading="Edit Photos">
                        <app-photo-editor [photos]="user.photos" (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
                    </tab>

                </tabset>
            </div>
        </div>
    </div>
</div>